@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --primary-intro-email: hsl(217, 28%, 15%);
    --primary-main-bg: hsl(218, 28%, 13%);
    --primary-footer-bg: hsl(216, 53%, 9%);
    --primary-testimonials-bg: hsl(219, 30%, 18%);
    --accent-cta-gradient-1: hsl(176, 68%, 64%);
    --accent-cta-gradient-2: hsl(198, 60%, 50%);
    --accent-error: hsl(0, 100%, 63%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

